/*Características de todo el cuerpo*/
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Cuerpo de la web*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: auto;
    overflow-x:hidden;
    background-image: url(../img/fondo_web.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    
}


/*COMIENZO ENCABEZADO*/

.Encabezado {
    width:100%;
    display:flex;
    box-sizing:border-box;
    background-color: rgba(255, 255, 255, .4);
    height: auto;
    border: 1px hidden #526079;
    border-radius: 20px;
    font-size:1vw;
}


#cent{
    width:50%;
    font-size:0.8vw;
    color:#223E72;
    margin-bottom:0.5%;
    margin-top:0.5%;
}

#divBotones {
    width: 25%;
	margin-top:2%;
	height:4%;
}

#mensajeLogin {
    display:none;
}

#input{
    font-size:1vw;
    height:30%;
}

#boton{
	font-size:1vw;
    height:15%;
    padding:2%;
}

/*FIN ENCABEZADO*/

.ParrafoCentrado {
    text-align: center;
}

    /*BLOQUE PRINCIPAL*/

.container {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    height: 900px;
    margin-left:auto;
    margin-right:auto;
	margin-top:5%;
	background: #000;
    margin: 25px auto;
}

.container:hover .background {
  -webkit-transform: scale(0.8) translate(-50%, -50%);
      -ms-transform: scale(0.8) translate(-50%, -50%);
          transform: scale(0.8) translate(-50%, -50%);
}
.container:hover .front {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

.background {
    top: 30%;
    left: -70%;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

.front {
 right:-20%;
 bottom:-10%;
  z-index: 1;
  position: absolute;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
          transition: transform 1s;
}



